<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TbCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.TbCart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="item_id" property="itemId" />
        <result column="item_title" property="itemTitle" />
        <result column="item_image" property="itemImage" />
        <result column="item_price" property="itemPrice" />
        <result column="num" property="num" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, item_id, item_title, item_image, item_price, num, created, updated
    </sql>

</mapper>
